.following{
    margin-top: 10px;
    background: linear-gradient(70deg, #120A24,  #30245C, #120A24);
    display: flex;
    flex-wrap: wrap;
}

.following-panel{
    background: linear-gradient(70deg, #120A24,  #30245C, #120A24);
    width: 300px;
    height: 300px;
    margin: 30px auto;
 
}

.following-panel img{
    width: 100%;
    height: 80%;
    border-radius: 0;
}

.following-panel h3{
    color: #C298E0;
}

.following-panel p{
    color: #fff;
}

