.profile-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Roboto", sans-serif;
    
}

.profile-page p{
    color: #fff;
}

.prof-left{
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    background-color: transparent;
    color: pink;
    align-items: center;
    
}

.top-edit{
padding: 6px;
border: none;
outline: none;
margin-bottom: 10px;
border-radius: 5px;
background-color: pink;
color: #142037;
cursor: pointer;
margin-left: 300px; 
font-size: 15px; 
}

.top-edit:hover{
    background-color: #9d2e3c;
    color: pink;
    transition: 0.3s ease-in;    
}

.prof-top{
text-align: center;
    
}
img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

}

.prof-top h3{
    margin-top: 5px;
    margin-bottom: 5px;
}

.prof-connect{
    display: flex;
    background-color: transparent;
    padding: 30px 20px 20px 20px;
    width: 300px;
    justify-content: space-between;
    margin-top: -10px;
    cursor: pointer;
}

.prof-connect h3{
    text-align: center;
    
}

.line{
    background-color: pink;
    width: 2px;
    
}
.left-edits{
    display: flex;
    flex-direction: column;
}

.left-edits button{
padding: 10px;
border: none;
outline: none;
margin-bottom: 10px;
border-radius: 5px;
background-color: #C298E0;
color: #142037;
}

.left-edits button:hover{
    background-color: #9d2e3c;
    color: pink;
    transition: 0.3s ease-in;
}

.prof-left h3{
    color: #9d2e3c;
}

.prof-right{
    display: block;
    flex-direction: column;
    width: 500px;
    background-color: pink;
    
    flex-direction: column;
    width: 400px;
    padding: 20px;
    
    
    align-items: center;
}

.right-heading{
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.basic-info{
    display: flex;
    height: 100px;
    background-color: #9d2e3c;
}

.basic-first{
    display: flex;
    padding: 10px;
}

.basic-first input{
    padding: 5px;
    width: 150px;
    margin-left: 10px;
}

.basic-second{
  margin-top: 10px;  
}

textarea{
    resize: none;
}

.prof-bio{
    background-color: transparent;
    padding: 20px;
}