*{
    box-sizing: border-box;
}



.signup{
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup form{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.signup form input[type=text], .signup form input[type=password], .signup form input[type=date]{
    width: 200px;
    color: #C298E0;
    height: 40px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #C298E0;
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.signin form input::placeholder{
   
}

.signup form button{
   outline: none;
   border: none;
    padding: 10px 5px 10px 5px;
    background-color: #C298E0;
    margin-top: 10px;
    color: #5946A6;
    font-weight: bold;
}

.form-name{
    display: flex;
}

.birth-gender{
    
    width: 90%;
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
}
