*{
    box-sizing: border-box;
}



.signin{
    width: 400px;
    padding: 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto";
  

}

.signin form{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.signin form input{
    width: 300px;
    color: #C298E0;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #C298E0;
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.signin form input::placeholder{
   
}

.signin form button{
   outline: none;
   border: none;
    padding: 10px 5px 10px 5px;
    background-color: #C298E0;
    margin-top: 10px;
    color: #5946A6;
    font-weight: bold;
    font-family: inherit;
}

.signin p{
    font-size: 15px;
    margin-left: 30px;
    color: grey;
    cursor: pointer;
}

.signin p:hover{
    text-decoration: underline;
}